*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrapper {
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /*background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);*/
  background-color: #fbda61;
  background-image: linear-gradient(45deg, #fbda61 0%, #ff5acd 100%);
}

.buttonSection {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
}

.buttonSection_inside {
  border: none;
  padding: 0.7rem 1.4rem;
}

.buttonSection button {
  cursor: pointer;
  transition: all 300ms linear;
  font-weight: bolder;
}

.buttonSection button:hover {
  background: red;
  color: white;
}

.buttonSection input {
  cursor: text;
}
